h2 {
  color: #ffffff;
}

.top-controls {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.bottom-controls {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}

.radio-container {
  position: relative;
  padding: 0px 10px 0px 35px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  color: #ffffff;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin: 10px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}

.radio-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

button {
  flex-grow: 1;
}

