.top-controls {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.bottom-controls {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}


button {
  flex-grow: 1;
}
