<div class="top-controls">
  <h2 *ngIf="cube.history.length === 0">Rubik Cube</h2>
  <ng-container *ngIf="cube.history.length > 0">
    <button (click)="cube.reset()">Reset</button>
    <button (click)="cube.undo()">Undo</button>
  </ng-container>
</div>
<div class="bottom-controls">
  <input type="radio" name="mode" [(ngModel)]="mode" [value]="0" (ngModelChange)="change($event)"> Play
  <input type="radio" name="mode" [(ngModel)]="mode" [value]="1" (ngModelChange)="change($event)"> Move
  <button (click)="cube.reset()">Reset</button>
</div>
