.cube-container {
  perspective: 1000px;
  margin-right: 32px;
  width: 250px;
  height: 250px;
}

.cube {
  height: 100%;
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.front {
  transform: translate3d(0, 0, 125px);
}

.top {
  transform: rotateX(90deg) translate3d(0, 0, 125px);
}

.bottom {
  transform: rotateX(-90deg) translate3d(0, 0, 125px);
}

.left {
  left: 50%;
  margin-left: -125px;
  transform: rotateY(-90deg) translate3d(0, 0, 125px);
}

.right {
  left: 50%;
  margin-left: -125px;
  transform: rotateY(90deg) translate3d(0, 0, 125px);
}

.back {
  transform: rotateX(180deg) translate3d(0, 0, 125px);
}

