<a href="https://github.com/crojasaragonez/angular-rubik-cube">
  <img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub">
</a>

<app-cube-controls [cube]="cube" [(mode)]="mode"></app-cube-controls>

<div class="cube-container">
  <div class="cube" [ngStyle]="{'transform':'rotateX(' + cube.rotateX + 'deg) rotateY(' + cube.rotateY + 'deg)'}">
    <app-side *ngFor="let side of cube.allSides()" class="side" [cube]="cube" [side]="side" [ngClass]="side.position"></app-side>
  </div>
</div>
