<app-cube-controls [cube]="cube"></app-cube-controls>

<div class="space3d">
    <div class="_3dbox" [ngStyle]="{'transform':'rotateX(' + cube.rotateX + 'deg) rotateY(' + cube.rotateY + 'deg)'}">
      <div class="_3dface _3dface--front">
        <app-side [cube]="cube" [side]="cube.front"></app-side>
      </div>
      <div class="_3dface _3dface--top">
        <app-side [cube]="cube" [side]="cube.top"></app-side>
      </div>
      <div class="_3dface _3dface--bottom">
        <app-side [cube]="cube" [side]="cube.bottom"></app-side>
      </div>
      <div class="_3dface _3dface--left">
        <app-side [cube]="cube" [side]="cube.left"></app-side>
      </div>
      <div class="_3dface _3dface--right">
        <app-side [cube]="cube" [side]="cube.right"></app-side>
      </div>
      <div class="_3dface _3dface--back">
        <app-side [cube]="cube" [side]="cube.back" [invert]="true"></app-side>
      </div>
    </div>
</div>
