<div class="side">
  <div class="cell" [ngClass]="side.cells[0][0].color"></div>
  <div class="cell" [ngClass]="side.cells[0][1].color"></div>
  <div class="cell" [ngClass]="side.cells[0][2].color"></div>

  <div class="cell" [ngClass]="side.cells[1][0].color"></div>
  <div class="cell" [ngClass]="side.cells[1][1].color"></div>
  <div class="cell" [ngClass]="side.cells[1][2].color"></div>

  <div class="cell" [ngClass]="side.cells[2][0].color"></div>
  <div class="cell" [ngClass]="side.cells[2][1].color"></div>
  <div class="cell" [ngClass]="side.cells[2][2].color"></div>
</div>
