
<div style="display: flex;">
  <div id="cube"></div>
  <div id="cube">
    <div class="cell" [ngClass]="cube.top.cells[0][0].color">*</div>
    <div class="cell" [ngClass]="cube.top.cells[0][1].color">*</div>
    <div class="cell" [ngClass]="cube.top.cells[0][2].color">*</div>

    <div class="cell" [ngClass]="cube.top.cells[1][0].color">*</div>
    <div class="cell" [ngClass]="cube.top.cells[1][1].color">*</div>
    <div class="cell" [ngClass]="cube.top.cells[1][2].color">*</div>

    <div class="cell" [ngClass]="cube.top.cells[2][0].color">*</div>
    <div class="cell" [ngClass]="cube.top.cells[2][1].color">*</div>
    <div class="cell" [ngClass]="cube.top.cells[2][2].color">*</div>
  </div>
  <div id="cube"></div>
</div>

<div style="display: flex;">
  <div id="cube">
    <div class="cell" [ngClass]="cube.left.cells[0][0].color">*</div>
    <div class="cell" [ngClass]="cube.left.cells[0][1].color">*</div>
    <div class="cell" [ngClass]="cube.left.cells[0][2].color">*</div>

    <div class="cell" [ngClass]="cube.left.cells[1][0].color">*</div>
    <div class="cell" [ngClass]="cube.left.cells[1][1].color">*</div>
    <div class="cell" [ngClass]="cube.left.cells[1][2].color">*</div>

    <div class="cell" [ngClass]="cube.left.cells[2][0].color">*</div>
    <div class="cell" [ngClass]="cube.left.cells[2][1].color">*</div>
    <div class="cell" [ngClass]="cube.left.cells[2][2].color">*</div>
  </div>

  <div id="cube">
    <div class="cell" [ngClass]="cube.front.cells[0][0].color">*</div>
    <div class="cell" [ngClass]="cube.front.cells[0][1].color">*</div>
    <div class="cell" [ngClass]="cube.front.cells[0][2].color">*</div>

    <div class="cell" [ngClass]="cube.front.cells[1][0].color">*</div>
    <div class="cell" [ngClass]="cube.front.cells[1][1].color">*</div>
    <div class="cell" [ngClass]="cube.front.cells[1][2].color">*</div>

    <div class="cell" [ngClass]="cube.front.cells[2][0].color">*</div>
    <div class="cell" [ngClass]="cube.front.cells[2][1].color">*</div>
    <div class="cell" [ngClass]="cube.front.cells[2][2].color">*</div>
  </div>

    <div id="cube">
    <div class="cell" [ngClass]="cube.right.cells[0][0].color">*</div>
    <div class="cell" [ngClass]="cube.right.cells[0][1].color">*</div>
    <div class="cell" [ngClass]="cube.right.cells[0][2].color">*</div>

    <div class="cell" [ngClass]="cube.right.cells[1][0].color">*</div>
    <div class="cell" [ngClass]="cube.right.cells[1][1].color">*</div>
    <div class="cell" [ngClass]="cube.right.cells[1][2].color">*</div>

    <div class="cell" [ngClass]="cube.right.cells[2][0].color">*</div>
    <div class="cell" [ngClass]="cube.right.cells[2][1].color">*</div>
    <div class="cell" [ngClass]="cube.right.cells[2][2].color">*</div>
  </div>
</div>


<div style="display: flex;">
  <div id="cube"></div>
  <div id="cube">
    <div class="cell" [ngClass]="cube.bottom.cells[0][0].color">*</div>
    <div class="cell" [ngClass]="cube.bottom.cells[0][1].color">*</div>
    <div class="cell" [ngClass]="cube.bottom.cells[0][2].color">*</div>

    <div class="cell" [ngClass]="cube.bottom.cells[1][0].color">*</div>
    <div class="cell" [ngClass]="cube.bottom.cells[1][1].color">*</div>
    <div class="cell" [ngClass]="cube.bottom.cells[1][2].color">*</div>

    <div class="cell" [ngClass]="cube.bottom.cells[2][0].color">*</div>
    <div class="cell" [ngClass]="cube.bottom.cells[2][1].color">*</div>
    <div class="cell" [ngClass]="cube.bottom.cells[2][2].color">*</div>
  </div>
  <div id="cube"></div>
</div>

<div style="display: flex;">
  <div id="cube"></div>
  <div id="cube">
    <div class="cell" [ngClass]="cube.back.cells[0][0].color">*</div>
    <div class="cell" [ngClass]="cube.back.cells[0][1].color">*</div>
    <div class="cell" [ngClass]="cube.back.cells[0][2].color">*</div>

    <div class="cell" [ngClass]="cube.back.cells[1][0].color">*</div>
    <div class="cell" [ngClass]="cube.back.cells[1][1].color">*</div>
    <div class="cell" [ngClass]="cube.back.cells[1][2].color">*</div>

    <div class="cell" [ngClass]="cube.back.cells[2][0].color">*</div>
    <div class="cell" [ngClass]="cube.back.cells[2][1].color">*</div>
    <div class="cell" [ngClass]="cube.back.cells[2][2].color">*</div>
  </div>
  <div id="cube"></div>
</div>

<button (click)="cube.moveDown(2)">Move Down</button>
<button (click)="cube.moveRight(0)">Move Right</button>

